.App {
    text-align: center;
    display: grid;
    place-content: center;
    height: 100%;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: 1em;
    background: darkslategrey;
}

.red {
    color: red;
    font-size: 24px;
}

.view {
    font-size: 24px;
}