.App {
    text-align: center;
    display: grid;
    place-content: center;
    height: 100%;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-column-gap: 1em;
    background: #1E0000;
}

.red {
    color: red;
    font-size: 35px;
}

.view {
    font-size: 30px;
}